/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #000;
    margin : 0 auto;
}

.subject-marks {
    list-style: none;
}

.subject-marks li {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 500px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
}



button {
    display: block;
    width: 500px;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(84, 84, 254);
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}